.webpack-cache
.sass-cache
.babel-cache
.vagrant
.unison
.env
.DS_Store
.idea
.vscode
.nova
*.code-workspace
*.iml
*.iws
/.tsc-cache/
/.cache/
/tags
node_modules
/npm-debug.log*
*.sw?
!*.swf
.eslintcache
.lvimrc
test-results*.xml
lerna-debug.log
yarn-error.log

local-configs/*.json
